{% load static %}
<div class="conf" >
            {% if messages %}
                {% for m in messages %}
                    {% if m.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <strong>{{ m }}</strong>
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <strong>{{ m }}</strong>
                        </div>

                    {% endif %}
                {% endfor %}
            {% endif %}
</div>

<div id="hero-area" class="hero-area-bg" >
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="contents">
                        <h1 class="head-title">Olá seja bem-vindo<br>no site fusion possuimos diversas utilidades </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!</p>
                        <div class="header-button">
                            <a href="#" class="btn btn-common">Baixar agora</i></a>
                            <a href="#" class="btn btn-border video-popup">Mais</i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="intro-img">
                        <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>